---
import Layout from "../layouts/Layout.astro";

const imageFiles: ImageFiles = await Astro.glob("/src/assets/bg/*").then(
	(files) => files.map((file) => file.default)
);
---

<Layout title="laura norwood">
	<!-- <Modal id={1} /> -->
	<main class="p-4">
		<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
			{
				imageFiles.map((image) => (
					<a href={image.src}>
						<img
							alt={image.src}
							src={image.src}
							width={450}
							height={600}
							class="cursor-zoom-in hover:brightness-110 object-cover h-[450px] w-[600px]"
							loading="lazy"
						/>
					</a>
				))
			}
		</div>
	</main>
</Layout>
