---
import Layout from "../layouts/Layout.astro";
import type { ImagesResponse } from "../types/images";
export const prerender = true;

const response = await fetch(`${import.meta.env.PUBLIC_STRAPI_URL}/api/bg?populate=images`);
const data: ImagesResponse = await response.json();
const images = data.data.attributes.images.data.map((image) => image);
---

<Layout title="laura norwood">
	<main class="p-4">
		<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
			{
				images.map((image) => (
					<a href={image.attributes.url}>
						<img
							class="w-[600px] h-[450px] object-cover hover:brightness-110 cursor-zoom-in"
							src={image.attributes.url}
							alt={image.attributes.name}
						/>
					</a>
				))
			}
		</div>
	</main>
</Layout>
